<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Updated: Ticket #{{ticket.uid}}</title>
    <style>
        h1,h2,h3,h4,h5,h6 {
            margin-bottom: 2px;
        }
        hr {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%;
            background: #ccc;
            height: 3px;
            border: none;
        }
    </style>
</head>
<body>
    <div>
        <h5>{{ticket.comments.0.owner.fullname}}</h5>
        <h5>{{ticket.comments.0.date}}</h5>
        <br/>
        <p class="issue">{{{ticket.comments.0.comment}}}</p>
        <br/>
        <br/>
        <h4>Ticket history</h4>
        <hr/>

        {{#each ticket.comments}}
            {{#if @first}}
            {{else}}
                <h5>{{owner.fullname}}</h5>
                <h5>{{date}}</h5>
                <br/>
                <p class="issue">{{{comment}}}</p>
                <br/>
                <hr/>
            {{/if}}
        {{/each}}

        <h5>{{ticket.owner.fullname}}</h5>
        <h5>{{ticket.date}}</h5>
        <br/>
        <p class="issue">{{{ticket.issue}}}</p>
        <br/>
        <hr/>

</div>
</body>
</html>